/* comand-component-library-layout.scss - last update: 2021/05/09 by Raphael Biock - IT IS NOT RECOMMENDED TO EDIT THIS FILE (TO AVOID TROUBLESHOOTING AFTER UPDATING) */

/* begin table of contents ----------disabled----------------------------------------------------------------------------------------------------------------------------------------- */
/*
- IMPORTS ------------------------
- GLOBAL STYLES (USED BY DIFFERENT COMPONENTS) ------------------------
  - error-styles for form-elements

- DARK-MODE ------------------------
*/
/* end table of contents --------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------- BEGIN IMPORTS -------------------------------------------------- */
@import 'variables'; /* scss-variables (only used for media-query-breakpoints) */
/* ---------------------------------------------- END IMPORTS -------------------------------------------------- */

/* ---------------------------------------------- BEGIN GLOBAL STYLES (USED BY DIFFERENT COMPONENTS) -------------------------------------------------- */
/* begin error-styles for form-elements --------------------------------------------------------------------------------------------------------------------------------------------------- */
label, .label {
  &.error {
    color: var(--error-color);

    & + .cmd-tooltip {
      border-color: var(--error-color);
      color: var(--error-color);
    }
  }
}
/* end error-styles for form-elements --------------------------------------------------------------------------------------------------------------------------------------------------- */

/* begin .multiple-switch --------------------------------------------------------------------------------------------------------------------------------------------------- */
.multiple-switch.disabled label {
  // background: var(--disabled-background-color) !important;
}
/* end .multiple-switch --------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------- END GLOBAL STYLES (USED BY DIFFERENT COMPONENTS) -------------------------------------------------- */

/* ---------------------------------------------- BEGIN DARK-MODE -------------------------------------------------- */
@media (prefers-color-scheme: dark) {
  html {
    --dark-mode-background-color: rgb(50, 50, 50);
  }

  html, body,
  .cmd-site-header,
  .cmd-width-limitation-wrapper#site-footer {
    background:  var(--dark-mode-background-color);
    color: var(--pure-white);
  }

  legend {
    background: var(--default-background-color);
    border: var(--default-border);
  }

  .cmd-breadcrumbs,
  .cmd-breadcrumbs > *,
  .cmd-top-header-navigation a,
  .cmd-pager > p, main {
    color: var(--pure-white);
  }

  hr {
    border-color: var(--pure-white);
  }

  .cmd-accordion,
  .cmd-tabs,
  fieldset, table, .box, {
    color: var(--text-color);
  }

  .cmd-accordion hr,
  .cmd-tabs hr,
  fieldset hr, table hr, .box hr {
    border-color: var(--text-color);
  }
}
/* ---------------------------------------------- END DARK-MODE -------------------------------------------------- */