/* logos-iconfont.css - last update: 2022/09/22 - IT IS NOT RECOMMENDED TO EDIT THIS FILE (TO AVOID TROUBLESHOOTING AFTER UPDATING) - DO CHANGES IN template.css OR YOUR OWN iconfont-css-file */

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/iconfonts/logos-iconfont/icomoon-logos.woff?fgweog') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-amazon:before {
  content: "\b100";
}
.icon-android:before {
  content: "\b101";
}
.icon-apple:before {
  content: "\b102";
}
.icon-chrome:before {
  content: "\b103";
}
.icon-css3:before {
  content: "\b104";
}
.icon-edge:before {
  content: "\b105";
}
.icon-facebook:before {
  content: "\b106";
}
.icon-facebook-square:before {
  content: "\b107";
}
.icon-firefox:before {
  content: "\b108";
}
.icon-flickr:before {
  content: "\b109";
}
.icon-git:before {
  content: "\b10a";
}
.icon-github:before {
  content: "\b10b";
}
.icon-google-analytics:before {
  content: "\b10c";
}
.icon-html5:before {
  content: "\b10d";
}
.icon-instagram:before {
  content: "\b10e";
}
.icon-linkedin:before {
  content: "\b10f";
}
.icon-linkedin-square:before {
  content: "\b110";
}
.icon-linux:before {
  content: "\b111";
}
.icon-meta:before {
  content: "\b112";
}
.icon-opera:before {
  content: "\b113";
}
.icon-paypal:before {
  content: "\b114";
}
.icon-safari:before {
  content: "\b115";
}
.icon-skype:before {
  content: "\b116";
}
.icon-tumblr:before {
  content: "\b117";
}
.icon-tumblr-square:before {
  content: "\b118";
}
.icon-twitch:before {
  content: "\b119";
}
.icon-twitter:before {
  content: "\b11a";
}
.icon-twitter-square:before {
  content: "\b11b";
}
.icon-vue:before {
  content: "\b11c";
}
.icon-whatsapp:before {
  content: "\b11d";
}
.icon-windows8:before {
  content: "\b11e";
}
.icon-xing:before {
  content: "\b11f";
}
.icon-xing-square:before {
  content: "\b120";
}
.icon-youtube:before {
  content: "\b121";
}